[Unit]
Description=gunicorn daemon
Requires=app.socket
After=network.target

[Service]
Type=notify

User=ubuntu
Group=www-data

RuntimeDirectory=/home/ubuntu/app
WorkingDirectory=/home/ubuntu/app
ExecStart=/root/app/env/bin/gunicorn core.asgi:app -c config/gunicorn.conf.py
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
